<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="/jsptest/member/write" method="get" class="form">
	<h1>비회원제 게시판</h1>
	<input type="text" placeholder="제목" name="title" id="title"> <br>
	<input type="text" placeholder="작성자" name="write" id ="write"> <br>
	<textarea rows="" cols="" placeholder="내용입력" name="content" id="content"></textarea> <br>
	<input type="text" placeholder="비밀번호" name="pw" id="pw"><br>
	<button type="button" onclick="insert()">글쓰기</button>
</form>


<script type="text/javascript" src="../js/bwrite.js"></script>

</body>
</html>